@lightBlue: #ddf;
@lightGreen: #dfd;
@lightRed: #fdd;

@defaultShapesWidth: 200px;
@defaultThemeColor: spin(@lightBlue,100);
@borderColor: darken(desaturate(@defaultThemeColor, 100%), 20%);
@borderSize: @defaultShapesWidth * 0.1;

.shape {
  display: inline-block;
  width: @defaultShapesWidth;
  height: 200px;
  background: @defaultThemeColor;
  margin: 20px;
  border: @borderSize solid @borderColor;
}

@defaultRadius: 30px;

.RoundedShape(@radius: @defaultRadius){
  border-radius: @radius;
}

.RoundedSquare(@radius: @defaultRadius){
  .RoundedShape(@radius);
}

.Round {
  .RoundedShape(9999px);
}

#shape1{
  .Round;
}

#shape2 {
  .RoundedSquare;
}

#shape3 {
  .RoundedSquare(60px);
}