@lightBlue: #ddf;
@lightGreen: #dfd;
@lightRed: #fdd;

@defaultThemeColor: @lightGreen;

.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: @defaultThemeColor;
  margin: 20px;
}


.Round {
  border-radius: 9999px;
}

#shape1{
  .Round;
}