@lightBlue: #ddf;
@lightGreen: #dfd;
@lightRed: #fdd;

@defaultThemeColor: @lightGreen;

.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: @defaultThemeColor;
  margin: 20px;
}

@defaultRadius: 30px;

.RoundedShape(@radius: @defaultRadius){
  border-radius: @radius;
}

.RoundedSquare(@radius: @defaultRadius){
  .RoundedShape(@radius);
}

.Round {
  .RoundedShape(9999px);
}

#shape1{
  .Round;
}

#shape2 {
  .RoundedSquare;
}

#shape3 {
  .RoundedSquare(60px);
}