/*********

Color Variables

 *********/
/***********

Variables for Shapes

***********/
.Round {
  border-radius: 9999px;
}
#shape1 {
  border-radius: 9999px;
}
#shape2 {
  border-radius: 30px;
}
#shape3 {
  border-radius: 60px;
}
.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ddf;
  margin: 20px;
  border: 20px solid #bbbbbb;
}
.shape:hover {
  background: #fdd;
}
